wado-compiler/tests/generated/** linguist-generated=true
package-gale/tests/generated/** linguist-generated=true
*.kiln.json linguist-generated=true
docs/stdlib-*.md linguist-generated=true
scripts/rust-inline-paths.json linguist-generated=true
