[submodule "vendor/wasm"]
	path = vendor/wasm
	url = https://github.com/WebAssembly/spec.git
[submodule "vendor/wasi"]
	path = vendor/wasi
	url = https://github.com/WebAssembly/WASI.git
[submodule "vendor/wasmtime"]
	path = vendor/wasmtime
	url = https://github.com/bytecodealliance/wasmtime.git
[submodule "vendor/wasm-tools"]
	path = vendor/wasm-tools
	url = https://github.com/bytecodealliance/wasm-tools.git
[submodule "vendor/component-model"]
	path = vendor/component-model
	url = https://github.com/WebAssembly/component-model.git
