[submodule "vendor/wasm"]
	path = vendor/wasm
	url = https://github.com/WebAssembly/spec.git
	shallow = true
[submodule "vendor/wasi"]
	path = vendor/wasi
	url = https://github.com/WebAssembly/WASI.git
	shallow = true
[submodule "vendor/wasmtime"]
	path = vendor/wasmtime
	url = https://github.com/wado-lang/wasmtime.git
	shallow = true
[submodule "vendor/wasm-tools"]
	path = vendor/wasm-tools
	url = https://github.com/bytecodealliance/wasm-tools.git
	shallow = true
[submodule "vendor/component-model"]
	path = vendor/component-model
	url = https://github.com/WebAssembly/component-model.git
	shallow = true
[submodule "vendor/jco"]
	path = vendor/jco
	url = https://github.com/bytecodealliance/jco.git
	shallow = true
[submodule "vendor/antlr4"]
	path = vendor/antlr4
	url = https://github.com/antlr/antlr4.git
	shallow = true
